Version Downgrade Prevention

### Problem:

From [RFC9368§4](https://datatracker.ietf.org/doc/html/rfc9368#section-4):

> A version downgrade is an attack where a malicious entity manages to make the QUIC endpoints negotiate a QUIC version different from the one they would have negotiated in the absence of the attack. 

s2n-quic does not currently support more then one version of QUIC, but once it does, we should provide mitigations for version downgrade attacks.

### Solution:

 [RFC9368§4](https://datatracker.ietf.org/doc/html/rfc9368#section-4 has several requirements for mitigating version downgrade attacks
