Enabling Zero-length CID for Client Endpoint

### Security issue notifications


### Problem:

We want to enable s2n-quic's client endpoint to use zero-length CID. Currently, s2n-quic doesn't allow its endpoints to use zero-length CID, since it sets the minimum id length to be 4 bytes:
https://github.com/aws/s2n-quic/blob/c6e694e99cc4e81d1863b8b3bb5a23311f24e40f/quic/s2n-quic-core/src/connection/id.rs#L208-L211

Enabling zero-length CID comes with benefits like saving bytes for writing packets. There are other major implementations that also support such feature such as Cloudflare Quiche and Google Chrome.

This can't be easily done, since s2n-quic client endpoint uses the same ip and port to establish connection with its peer. It can only use connection ID to identify the corresponding connection.

This issue is related to https://github.com/aws/s2n-quic/issues/2378.

### Need By Date:

N/A

### Solution:

We need to have figure out a way for a client to use addressing information (ip and port) to identify a connection rather when connection ID is absent. [RFC 9000 section 5.2.1](https://www.rfc-editor.org/rfc/rfc9000.html#name-client-packet-handling) specifies that:
> Clients that choose to receive zero-length connection IDs can use the local address and port to identify a connection. 
> Packets that do not match an existing connection — based on Destination Connection ID or, if this value is zero length, local IP address and port — are discarded.

We need to restructure the s2n-quic library to use distinct ip and port to establish connection when its doesn't have connection ID. Then, we need to create a map to map a (ip, port) tuple to the corresponding `internalConnnectionID`.

### Requirements / Acceptance Criteria:

* S2N-QUIC's client endpoint should be able to use zero-length CID to establish connection.
* We might want to change the existing connection migration test with zero-length CID client with Cloudflare Quiche to use the s2n-quic endpoint after this feature is enabled.

### Out of scope:

* S2N-QUIC's server endpoint can use zero-length CID. We don't want to add such support, since it might have security implications.