Datagram spike causes blackhole detection

### Problem:

A spike of egress datagrams causes blackhole detection on the sender if receiver has gaps in acknowledgment. Which immediately drops MTU to the base 1200.
Dropping datagrams when CPU is busy is perfectly fine according to Section 5.3 of RFC 9221. I observe this erroneous blackhole detection with s2n-quic datagram sender and s2n-quic receiver as well as other QUIC receivers. I do not see this with senders powered by other QUIC stacks.

This is a blocker to use s2n-quic with MASQUE and other datagram cases where MTU matters.

### Requirements / Acceptance Criteria:

s2n-quic should not reduce MTU for unacknowledged datagram frames.

Thanks for the issue Yaroslav. It may be that our blackhole detection is too sensitive for this use case, we could consider making it configurable if that would be desired.

For now, if possible I would suggest setting additional MTU configuration based on the known MTU for the pathways you are operating on. In particular, you can use the `with_base_mtu()` method on the Tokio IO builder to configure the minimum MTU that will be set for all connections (see [docs here](https://docs.rs/s2n-quic/latest/s2n_quic/provider/io/tokio/struct.Builder.html#method.with_base_mtu)). The MTU for connections will never drop below that base MTU even if a black hole is detected. 

As I am working on internet facing service, I cannot predict MTU upfront. I'd love to have one of these options:
- disable MTU blackhole detection
- disable discovery after discovery is complete
- adjust base MTU manually on established connection

I think the third option would be quite useful for a number of use cases outside of datagram spikes.

> -  disable MTU blackhole detection
> - disable discovery after discovery is complete

These options are very similar, the only difference I believe would that the second option would also prohibit the MTU from increasing any further after the search is complete. We have a timer that will attempt additional increases in MTU after 10 minutes. I would prefer the first option

> - adjust base MTU manually on established connection

Can you describe what use cases you had in mind for this?