Path MTU Discovery optional enhancements

- [ ] Track changes in a path (RTT Estimate changing) to determine if that path should be probed
  - It is RECOMMENDED that methods are robust to path changes that could have occurred since the path characteristics were last confirmed and to the possibility of inconsistent path information being received. [RFC8899 §3](https://www.rfc-editor.org/rfc/rfc8899.html#section-3)
  - It is RECOMMENDED that methods determine whether the path has changed since it last measured the path.  This can
   help determine when to probe the path again. [RFC8899 §3](https://www.rfc-editor.org/rfc/rfc8899.html#section-3)
- [ ] Add a cache provider to the controller for caching PMTU values between connections
  - Possibly implement this as a Provider to allow customers to have their own PMTU cache that they can populate with information outside of s2n-quic
-  [ ] Update PMTU for each path that shares destination IP
   - If PLPMTUD updates the MTU for a particular path, all Packetization Layer sessions that share the path representation (as described in Section 5.2) SHOULD be notified to make use of the new MTU. [RFC8899 §3](https://www.rfc-editor.org/rfc/rfc8899.html#section-3)
-  [ ] Update the max datagram size in the `mtu::Controller` based on the `max_udp_payload_size` transport parameter