transport: Fast Retransmit in Congestion Controller

https://www.ietf.org/id/draft-ietf-quic-recovery-31.html#name-recovery

Implementations MAY reduce the congestion window immediately upon entering a recovery period or use other mechanisms, such as Proportional Rate Reduction ([PRR]), to reduce the congestion window more gradually. If the congestion window is reduced immediately, a single packet can be sent prior to reduction. This speeds up loss recovery if the data in the lost packet is retransmitted and is similar to TCP as described in Section 5 of [RFC6675].

https://github.com/quicwg/base-drafts/issues/3335

To reduce loss recovery time when first entering a recovery period, we need a way to immediately retransmit a lost packet without being limited by the congestion window. One solution could involve setting a flag on the path to allow transmission of one packet that ignores the congestion window.

