Implement Datagram Packetization Layer Path MTU Discovery (DPLPMTUD)

Datagram Packetization Layer Path MTU Discovery (DPLPMTUD) is specified in [RFC8899](https://tools.ietf.org/html/rfc8899).

QUIC specific requirements are specified in QUIC Transport [§14.3](https://tools.ietf.org/id/draft-ietf-quic-transport-34.html#section-14.3)

**Socket settings**:
- [x] Set Don't Fragment bit in the IP header for IPv4 #715
  - In IPv4, a probe packet MUST be sent with the Don't Fragment (DF) bit set in the IP header and without network layer endpoint fragmentation [RFC8899 §3](https://www.rfc-editor.org/rfc/rfc8899.html#section-3)
  - UDP datagrams MUST NOT be fragmented at the IP layer. In IPv4 ([IPv4]), the DF bit MUST be set if possible, to prevent fragmentation on the path. [QUIC Transport §14](https://tools.ietf.org/id/draft-ietf-quic-transport-34.html#section-14)
- [x] Retrieve max MTU of the local NIC and use it as a maximum PMTU #733 
  - A DPLPMTUD sender is RECOMMENDED to utilize information about the maximum size of packet that can be
    transmitted by the sender on the local link (e.g., the local link MTU). [RFC8899 §3](https://www.rfc-editor.org/rfc/rfc8899.html#section-3)
  - This can be provided by the `io::Provider` if the customer is able to determine this value

**PMTU Probe Packets**:
- [x] Define a probe packet containing a PING + PADDING #680
  -  It is RECOMMENDED to use probe packets that do not carry any user data that would require retransmission if lost. [RFC8899 §3](https://www.rfc-editor.org/rfc/rfc8899.html#section-3)
  - Endpoints could limit the content of PMTU probes to PING and PADDING frames, since packets that are larger than the current maximum datagram size are more likely to be dropped by the network. [QUIC Transport §14.4](https://tools.ietf.org/id/draft-ietf-quic-transport-34.html#section-14.4)
- [x] Determine the sizes to use for probes #680
  - Implementations SHOULD select the set of probe packet sizes to maximize the gain in PLPMTU from each search step. [RFC8899 §3](https://www.rfc-editor.org/rfc/rfc8899.html#section-5.3.2)
  - Implementations could optimize the search procedure by selecting step sizes from a table of common PMTU sizes. [RFC8899 §3](https://www.rfc-editor.org/rfc/rfc8899.html#section-5.3.2)

**DPLPMTUD Controller**:
- [x] Implement a DPLPMTUD Controller containing `BASE`, `ERROR`, `SEARCHING`, `SEARCH_COMPLETE` and possibly `DISABLED` states #680
- [x] Add on_packet_loss method to be notified when a probe is lost #680
  - The PL is REQUIRED to be robust in the case where probe packets are lost due to other reasons (including link transmission error, congestion)
- [x] Add on_packet_ack method to be notified when a probe has been received #680
  - When supported, this mechanism MAY also be used by DPLPMTUD to acknowledge reception of a probe packet. [RFC8899 §3](https://www.rfc-editor.org/rfc/rfc8899.html#section-4.2)
- [x] Implement PROBE_TIMER and PMTU_RAISE_TIMER #680
  - To avoid excessive load, the interval between individual probe packets MUST be at least one RTT, and the interval between rounds of probing is determined by the PMTU_RAISE_TIMER. [RFC8899 §3](https://www.rfc-editor.org/rfc/rfc8899.html#section-8)

**Recovery Manager and Congestion Controller**
- [x] Call `congestion_controller.on_packet_discarded` instead of `congestion_controller.on_packets_lost` when a packet with `sent_bytes > max_datagram_size` is detected lost #696
  - Loss of a probe packet SHOULD NOT be treated as an indication of congestion and SHOULD NOT trigger a congestion
control reaction [RFC4821] because this could result in unnecessary reduction of the sending rate. [RFC8899 §3](https://www.rfc-editor.org/rfc/rfc8899.html#section-3)
  - Loss of a QUIC packet that is carried in a PMTU probe is therefore not a reliable indication of congestion and SHOULD NOT trigger a congestion control reaction [QUIC Transport §14.4](https://tools.ietf.org/id/draft-ietf-quic-transport-34.html#section-14.4)
- [x] Call CongestionController::on_mtu_update when a new MTU is confirmed #680